<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>AjouterProduitServletBon</display-name>
    <servlet-name>AjouterProduitServletBon</servlet-name>
    <servlet-class>AjouterProduitServletBon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterProduitServletBon</servlet-name>
    <url-pattern>/AjouterProduitServletBon</url-pattern>
  </servlet-mapping>
  <display-name>abade_projet_jee</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerProduit</display-name>
    <servlet-name>SupprimerProduit</servlet-name>
    <servlet-class>SupprimerProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerProduit</servlet-name>
    <url-pattern>/SupprimerProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Produit</display-name>
    <servlet-name>Produit</servlet-name>
    <servlet-class>Produit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Produit</servlet-name>
    <url-pattern>/Produit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierProduitServlet</display-name>
    <servlet-name>ModifierProduitServlet</servlet-name>
    <servlet-class>ModifierProduitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierProduitServlet</servlet-name>
    <url-pattern>/ModifierProduitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterProduitServletBon2</display-name>
    <servlet-name>AjouterProduitServletBon2</servlet-name>
    <servlet-class>AjouterProduitServletBon2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterProduitServletBon2</servlet-name>
    <url-pattern>/AjouterProduitServletBon2</url-pattern>
  </servlet-mapping>
</web-app>